*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target
**/*.iml
.idea
**/.idea
**/*.exe

**/node_modules/*
client/src/main/java/fr/*
artifactory/*
artifactory_docker.tar
jenkins_docker.tar
logs.txt
package-lock.json
client/.env
client/tests/e2e/screenshots/*
client/tests/e2e/videos/*
